*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: #222C2A;
}

h1, h2 {
    font-weight: 900;
    margin-top: 0;
    line-height: 1.1;
}

section {
    padding: 4em 0;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.intro {
    min-height: 660px;
    text-align: center;
    background-color: #F3EED9;

    display: flex;
    align-items: center;
}

.intro__text {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.125rem;
    color: #222C2A;
    margin: 0 0 .25em;
}

.intro__title {
    font-size: 3rem;
    color: #824936;
}

img {
    max-width: 100%;
}

.section-title--dark {
    color: #824936;
    text-align: center;
}

.third-section {
    background-color: #222C2A;
    color: #F3EED9;
}

.fourth-section {
    background-color: #824936;
    color: #F3EED9;
}

@media (min-width: 800px) {
    .row {
        display: flex;
        gap: 3em;
        justify-content: space-between;
    }
    
    .col {
        width: 100%;
    }

    .intro__title {
        font-size: 3.75rem;
    }
}





